.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-78{
    width: 78%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.navbar{
    padding-bottom: 0!important;
}

.carousel-inner .carousel-item img {
    width: 700px; 
    height: 370px; 
    object-fit: cover; 
}

.deuce-header{
    width:157.897px;
    height: 40px;
}

.logo-button {
    width: 490px;
    height: 145px;
}

a {
    color: inherit; 
    text-decoration: none; 
}

.footer-button{
    color: rgba(224, 224, 224, 0.65);
    font-size: 24px;
    font-weight: 600;
}

.follow-button{
    color:#E0E0E0;
    font-size: 24px;
    font-weight: 600;
}

.company{
    color: rgba(224, 224, 224, 0.65);
    font-size: 14px;
}

.insta-size {
    width: 15px;
    height: 15px;
}

.twitter-size {
    width: 22px;
    height: 22px;
}

.youtube-size {
    width: 20px;
    height: 16px;
}

.facebook-size{
    width: 10.5px;
    height: 20px;
}

.color-grey {
    color: rgba(255, 255, 255, 0.60);
}

.deuce-size {
    width: 47.069px;
    height: 70px;
}

footer {
    margin-top: auto;
}

.carousel-poster {
    width: 100%;
    height: auto; 
}

.nowshowing-button{
    font-size: 48px;
    color: white;
}

.upcoming-button{
    font-size: 48px;
    color: white;
}

.nowshowingupcoming-bar{
    width: 30px;
    background-color: #470000;
    height: 110px;
    margin-left:130px
}

.custom-border {
    border-width: 2px !important; 
    border-color: #470000 !important;
    width: 300px;
    height: 400px;;
    background-color: #1B1919;
}

.payment-font{
    color: #E0E0E0;
    font-size: 16px;
    font-style: normal;
    font-weight: 40;
    line-height: normal;
}

.payment-font1{
    color: #E0E0E0;
    font-size: 10px;
    font-style: normal;
    font-weight: 40;
    line-height: normal;
}

.admin-nav{
    font-size: 20px;
}

.full-black {
    background-color: #1B1919;
    color: white; 
    width: 100%;
    height: 100vh; 
    padding: 20px; 
}

.admin-dash{
    font-size: 40px;
}

.dashboard-size{
    height: 24px;
    width: 24px;
}

.pallete-maroon{
    background-color: #470000; 
}

.pallete-black{
    background-color: #1B1919;
}

.pallete-orange{
    background-color: #D58936;
}

.pallete-white{
    background-color: #E0E0E0;
}

.maroon{
    color: #470000;
}

.black{
    color: #1B1919;
}

.orange{
    color: #D58936;
}

.white{
    color: #E0E0E0;
}

.b-black{
    border-color: #1B1919;
}

.b-orange{
    border-color: #D58936 !important;
}

.b-white{
    border-color: #E0E0E0;
}

.left-box{
    width: 260px;
    height: 520px;
}

.right-box{
    width: 1550px;
    height: 520px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #1B1919;
    color: #E0E0E0;
 }
 
 .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #1B1919;
    color: #E0E0E0;
 }
 
 .table-striped > thead > tr:nth-child(odd) > td, .table-striped > thead > tr:nth-child(odd) > th {
    background-color: #1B1919;
    color: #E0E0E0;
 }

 .center-table {
    display: flex;
    justify-content: center;
}

.hr-set{
    border-top: 3px solid #FFFFFF;
    width: 100%;
}
 
